body {
    font-size: 14px;
    line-height: 20px;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    color: #564b47;
    padding: 50px;
}

body > header h1 > a {
    color: #564b47;
    text-decoration: none;
}

body > header h4 {
    margin-top: -10px;
}

h1, h2, h3, h4 {
    width: 100%;
    padding: 5px;
}

h1 {
    line-height: 35px;
    font-weight: bold;
}

h2 {
    line-height: 30px;
    border-bottom: 2px solid rgb(83, 83, 83);
    background-color: transparent;
    font-size: 25px;
}

h3 {
    line-height: 30px;
    font-size: 25px;
    border-left: 18px solid rgb(83, 83, 83);
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

hr {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    min-width: 840px;
}

ul {
    padding-left: 30px;
}

pre {
    padding: 5px;
}

code {
    background-color: #F5F5F5;
    padding: 9.5px;
    display: block;
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    border: 1px solid rgba(0, 0, 0, 0.150);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

table {
    border: none;
}

td {
    padding-left: 20px;
}

a:hover {
    color: #696969;
}

main {

    width: 75%;
    min-width: 600px;
    margin-left: 150px;
    display: block;
}

a:visited {
    color: #3399CC;
    background-color: inherit;
    text-decoration: none;
}

a:link {
    color: #0066FF;
    text-decoration: none;
}

a:hover {
    color: #696969;
    text-decoration: underline;
}

footer {
    clear: both;
    width: 100%;
}

article {
    margin: 10px;
}

article h2 > a,
article h2 > a:visited,
article h2 > a:active {
    text-decoration: none;
    color: blue;
}

article h2 > a:hover {
    color: #696969;
}

article .entry {
    margin-left: 15px;
    padding: 10px;
}

article .entry img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

article header span {
    margin-top: -10px;
    margin-bottom: -3px;
    margin-left: 5px;
}

article header h2 {
    margin-bottom: 3px;
}

section address {
    margin-left: 15px;
}

#paginator {
    padding: 10px;
}

#paginator a {
    text-decoration: none;
}

.more {
    margin-left: 80%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

nav {
    min-width: 150px;
    float: right;
    display: flex;
}

nav > * {
    padding-left: 10px;
}

div {
    display: block;
}

blockquote {
    border-left: 3px solid lightgray;
    margin: 14px 15px;
    padding: 0 25px;
    color: dimgrey;
}

.members ul {
    display: flex;
}
.members li {
    list-style-type: none;
}

.members h3 {
    border: none;
    padding: 5px 0;
    margin: 0;
}

.member-card {
    width: 200px;
    padding: 13px;
    margin: 5px;
    box-shadow: 0px 5px 10px #e4e4e4;
    border-radius: 5px;
}

.member-card>a {
    display: block;
}

.member-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.say {
    margin: 0;
}
.say:before {
    content: "❝ "
}
.say:after {
    content: " ❞"
}

.links {
    padding: 0px;
    display: flex;
}

.links li {
    padding-right: 1em
}
