---
layout: base
title: Members
---

<h1>Members</h1>
<section>
    <h2>M2</h2>
    <ul>
        {% for post in site.tags.fmi16 %}
        <li>
            <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</section>

<section>
    <h2>M1</h2>
    <ul>
        {% for post in site.tags.fmi17 %}
        <li>
            <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</section>

<section>
    <h2>B4</h2>
    <ul>
        {% for post in site.tags.fi14 %}
        <li>
            <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</section>

<section>
    <h2>B3</h2>
    <ul>
        {% for post in site.tags.fi13 %}
        <li>
            <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</section>

<section>
    <h2>OB</h2>
    <ul>
        {% for post in site.tags.ob %}
        <li>
            <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</section>
