<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/top.css">
		<meta name="description" content="スマートフォンや環境センサによりユーザの生活を支援し、安心安全を保つ実世界環境の構築を目指しています。 経済的なコスト、使いやすさを考慮し、高信頼、省電力を実現したユーザ自身がコントロールできる持続可能なシステムの研究を行います。">
		<meta property="og:site_name" content="CPSLAB">
		<meta property="og:type" content="website">
		<meta property="og:title" content="CPSLAB - 実空間コンピューティング研究室">
		<meta property="og:description" content="スマートフォンや環境センサによりユーザの生活を支援し、安心安全を保つ実世界環境の構築を目指しています。 経済的なコスト、使いやすさを考慮し、高信頼、省電力を実現したユーザ自身がコントロールできる持続可能なシステムの研究を行います。">
		<meta property="og:url" content="https://cpslab.github.io/">
		<meta property="og:image" content="https://www.cps.im.dendai.ac.jp/index.php?plugin=attach&refer=Downloads&openfile=iwaiFaceIllust.png">
		<meta name="twitter:card" content="summary">
</head>
<body>

{% include header.html %}

<div id="logo">
    <img src="/images/labLogo3.png" alt="logo">
</div>

<div class="container">
    {{ content }}
</div>

</body>
</html>

