<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/top.css">
		<meta name="description" content="ラボは「残留」で選ぼう！！モテ偏差値75を目指すあなたに贈るCPSLAB！！">
		<meta property="og:site_name" content="CPSLAB">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://cpslab.github.io/">
		<meta property="og:image" content="https://www.cps.im.dendai.ac.jp/index.php?plugin=attach&refer=Downloads&openfile=iwaiFaceIllust.png">
		<meta name="twitter:card" content="summary">
</head>
<body>

{% include header.html %}

<div id="logo">
    <img src="/images/labLogo3.png" alt="logo">
</div>

<div class="container">
    {{ content }}
</div>

</body>
</html>

